<template>
    <header class="header aos-init aos-animate" data-aos="fade-zoom-in">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="/">
                    <img
                        class="logo__link"
                        src="https://domkrasnodare.ru/static/img/logo.png"
                        alt="logo"
                    />
                    <span class="logo__text">
                        Строительство и продажа
                        <br />частных домов в Краснодаре
                    </span>
                </a>
                <div class="phone">
                    <a class="phone__number" href="tel:+79181227777">8 918 122 77 77</a>
                    <a
                        class="phone__whatsapp"
                        href="https://api.whatsapp.com/send?phone=79181227777"
                    >
                        Связь через
                        <span>WhatsApp</span>
                    </a>
                </div>
                <a class="call-btn feedback-open" href="#">Заказать звонок</a>
                <div class="menu__btn">
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</template>
