<template>
    <nav class="menu aos-init aos-animate" data-aos="fade-zoom-in">
        <div class="container">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__list-link" href="#generalplan">Дома в продаже</a>
                </li>
                <li class="menu__item">
                    <a class="menu__list-link" href="#installment">Способы покупки</a>
                </li>
                <li class="menu__item">
                    <a class="menu__list-link" href="#company">О нас</a>
                </li>
                <li class="menu__item">
                    <a class="menu__list-link" href="#plan">Как мы строим</a>
                </li>
                <li class="menu__item">
                    <a class="menu__list-link" href="#reviews">Отзывы</a>
                </li>
                <li class="menu__item">
                    <a class="menu__list-link" href="#faq">Вопросы и ответы</a>
                </li>
            </ul>

            <div class="menu__box-info">
                <div class="phone">
                    <a class="phone__number" href="tel:+79181227777">8 918 122 77 77</a>
                    <a
                        class="phone__whatsapp"
                        href="https://api.whatsapp.com/send?phone=79181227777"
                    >
                        Связь через
                        <span>WhatsApp</span>
                    </a>
                </div>
                <a class="call-btn feedback-open" href="#">Обратный звонок</a>
                <div class="address">Краснодар, пос. Российский, ул. Ришельевская / Триумфальная</div>
            </div>
        </div>
    </nav>
</template>