<template>
  <section class="top">
    <div class="container">
      <div class="top__heading">
        <div class="top__content aos-init aos-animate" data-aos="fade-up">
          <h2 class="top__title">
            Viva Group – ваш<br />комфортный дом<br />по цене квартиры
          </h2>
          <h2 class="top__price">от 5 млн. руб</h2>
          <h4 class="top__text">
            Строим и продаем дома <br />
            в Краснодаре без комиссии
          </h4>
          <a class="top__btn feedback-open" href="#">Заказать звонок</a>
        </div>
        <div class="top__popover aos-init aos-animate" data-aos="fade-zoom-in">
          <div class="top__popover-item popover-one">
            <div class="top__popover-dot">
              <span>
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="6" cy="6" r="6" fill="white"></circle>
                </svg>
              </span>
            </div>
            <div class="top__popover-content">
              <h6>Кровля</h6>
              <p>
                Металлочерепица толщиной 0,45 эксклюзивного графитового оттенка
                сочетает прочность, легкость, долговечность и пожароустойчивость
              </p>
            </div>
          </div>
          <div class="top__popover-item popover-two">
            <div class="top__popover-dot">
              <span>
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="6" cy="6" r="6" fill="white"></circle>
                </svg>
              </span>
            </div>
            <div class="top__popover-content">
              <h6>Каркас дома</h6>
              <p>
                Силикатный облицовочный кирпич в эксклюзивном оттенке,
                современный утеплитель Пеноплэкс, газоблок 600х200х250
              </p>
            </div>
          </div>
          <div class="top__popover-item popover-three">
            <div class="top__popover-dot">
              <span>
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="6" cy="6" r="6" fill="white"></circle>
                </svg>
              </span>
            </div>
            <div class="top__popover-content">
              <h6>Остекление</h6>
              <p>Мультифункциональные стеклопакеты СТИС</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
