html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4d4d4d;
}

::selection {
  background: #161b14; /* Цвет фона */
  color: #fff; /* Цвет текста */
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
}

body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.container {
  max-width: 1424px;
  padding: 0 32px;
  margin: 0 auto;
}

input {
  font-family: "Montserrat", sans-serif;

  &:focus {
    outline: none !important;
    border: 1px solid #2dbd3b;
  }

  ::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
  }

  :-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
  }

  :-moz-placeholder {
    font-family: "Montserrat", sans-serif;
  }

  ::-moz-placeholder {
    font-family: "Montserrat", sans-serif;
  }
}

.icon {
  &-purchase {
    display: block;
    background-image: url(../img/clotch.svg);
    max-width: 65px;
    width: 100%;
    height: 64px;
  }
  &-time {
    display: block;
    background-image: url(../img/time.svg);
    max-width: 61px;
    width: 100%;
    height: 61px;
  }
  &-security {
    display: block;
    background-image: url(../img/security.svg);
    max-width: 56px;
    width: 100%;
    height: 68px;
  }
  &-ecology {
    display: block;
    background-image: url(../img/ecology.svg);
    max-width: 66px;
    width: 100%;
    height: 60px;
  }
  &-road {
    display: block;
    background-image: url(../img/road.svg);
    max-width: 66px;
    width: 100%;
    height: 82px;
  }
  &-school {
    display: block;
    background-image: url(../img/school.svg);
    max-width: 76px;
    width: 100%;
    height: 73px;
  }
  &-territory {
    display: block;
    background-image: url(../img/territory.svg);
    max-width: 60px;
    width: 100%;
    height: 92px;
  }
  &-transport {
    display: block;
    background-image: url(../img/transport.svg);
    max-width: 100px;
    width: 100%;
    height: 65px;
  }
  &-building {
    display: block;
    background-image: url(../img/building.svg);
    max-width: 76px;
    width: 100%;
    height: 56px;
  }
  &-neighbors {
    display: block;
    background-image: url(../img/neighbors.svg);
    max-width: 69px;
    width: 100%;
    height: 63px;
  }

  &-termometre {
    background-image: url(../img/termometre.svg);
    max-width: 41px;
    width: 100%;
    height: 88px;
  }

  &-water {
    background-image: url(../img/water.svg);
    max-width: 55px;
    width: 100%;
    height: 73px;
  }

  &-lamp {
    background-image: url(../img/lamp.svg);
    max-width: 48px;
    width: 100%;
    height: 75px;
  }

  &-trumpet {
    background-image: url(../img/trumpet.svg);
    max-width: 87px;
    width: 100%;
    height: 58px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }
}
