.header {
  background-color: #fff;
  padding-top: 8px;
  height: 100px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  max-width: 375px;
  position: relative;

  &__text {
    margin-left: 17px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  max-width: 215px;

  &__number {
    font-size: 26px;
  }

  &__whatsapp {
    color: #999999;

    span {
      color: #23d335;
    }
  }
}

.call-btn {
  padding: 23px 36px;
  border: 1px solid #cc8a41;
  box-sizing: border-box;
  border-radius: 9px;
  transition: all 0.5s;

  &:hover {
    background-color: #cc8a41;
    color: #fff;
  }
}
