.menu {
  border-top: 1px solid #d8d8d8;
  background-color: #fff;
  transition: 0.6s;
  z-index: 30;

  &__btn {
    display: none;
  }

  .container {
    max-width: 1224px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 22px 0 21px;
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 5px 2px rgba(37, 39, 41, 0.3);
}
.header-fixed {
  margin-bottom: 69.6px;
}
.menu__box-info {
  display: none;
}
@media (max-width: 1237px) {
  .call-btn {
    display: none;
  }
}
@media (max-width: 1199px) {
  .menu__item:last-child {
    display: none;
  }
}

@media (max-width: 991px) {
  .menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__item:last-child {
    display: block;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #cc8a41;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -12px;
  }
  .menu__btn > span::after {
    content: "";
    top: 12px;
  }
  .menu__toggle > span {
    transform: rotate(45deg);
  }
  .menu__toggle > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu__toggle > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu {
    display: none;
    border-top: none;
  }
  .menu__box {
    display: block;
    transition-duration: 0.25s;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;

    .menu__list {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 26px;
    }
    .menu__item {
      padding: 6px 0 21px;
    }
  }
  .menu__box-info {
    display: block;
    margin-top: 60px;
    margin-bottom: 22px;
    .phone {
      display: flex;
      padding-left: 26px;
      max-width: 245px;
      margin-bottom: 24px;
    }
    .address {
      display: block;
      padding-left: 26px;
    }
    .call-btn {
      display: block;
      margin-bottom: 24px;
      background-color: #cc8a41;
      color: #fff;
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .menu__btn {
    width: 30px;
    height: 30px;
  }
  .menu__btn > span,
  .menu__btn > span::after,
  .menu__btn > span::before {
    height: 2px;
    transition: 0.4s;
  }
  .menu__btn > span::before {
    top: -8px;
  }
  .menu__btn > span::after {
    top: 8px;
  }
  .menu__toggle > span {
    transform: rotate(45deg);
  }
  .menu__toggle > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu__toggle > span::after {
    top: 0;
    transform: rotate(90deg);
  }
}
