.top {
  background-image: url('../../img/bg_home.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 978px;
  height: 100vh;
  position: relative;

  &__heading {
    display: flex;
    padding: 64px 0 30px;
  }

  &__content {
    padding-top: 69px;
    width: 100%;
  }

  &__title {
    max-width: 716px;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #ffffff;
  }

  &__price {
    max-width: 716px;
    font-weight: bold;
    font-size: 42px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 28px;
    line-height: 38px;
    font-weight: normal;
    color: #ffffff;
    max-width: 413px;
    margin-bottom: 23px;
  }

  &__btn {
    display: block;
    padding: 23px 36px;
    background: #cc8a41;
    border: 1px solid #cc8a41;
    border-radius: 9px;
    color: #ffffff;
    max-width: 221px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      background: #e3a157;
      border-color: #e3a157;
    }
  }

  &__popover {
    position: absolute;
    right: 0;
    width: 50%;

    &-item {
      position: absolute;
    }
    &-dot {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          background-color: #fff;
          opacity: 0.4;
          left: -8px;
          right: -8px;
          top: -8px;
          bottom: -8px;
          border-radius: 50%;
          animation: pulse 1.8s linear infinite;
        }
        &:hover {
          &:before {
            animation-play-state: paused;
          }
        }
      }
    }
    &-content {
      position: absolute;
      top: 19px;
      right: 9px;
      padding: 20px;
      background-color: #fff;
      width: 246px;
      border-radius: 9px 0px 9px 9px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;

      h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        margin: 3px 0px;
      }
    }
  }
}
.popover-one {
  top: 16px;
  left: 386px;
}
.popover-two {
  top: 360px;
  left: 6px;
}
.popover-three {
  top: 440px;
  left: 130px;
}
.top__popover-dot:hover + .top__popover-content {
  visibility: visible;
  opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1199px) {
  .top__title {
    font-size: 40px;
    line-height: 48px;
    max-width: 416px;
  }
  .top__price {
    font-size: 30px;
    line-height: 48px;
    max-width: 416px;
  }
  .top__text {
    font-size: 22px;
    line-height: 32px;
  }

  .popover-one {
    left: 45px;
  }
}

@media (max-width: 991px) {
  .address {
    display: none;
  }

  .top__popover {
    display: none;
  }
  .top__content {
    width: 100%;
  }

  .phone {
    display: none;
  }
}

@media (max-width: 575px) {
  .top {
    min-height: 565px;
    height: 565px;
    background-size: cover;
  }
  .top__content {
    padding-top: 20px;
  }
  .top__heading {
    padding-top: 20px;
  }
  .logo__text {
    font-size: 12px;
    line-height: 20px;
    max-width: 184px;
  }
  .logo__link {
    width: 70px;
    height: 70px;
  }
  .top__title {
    font-size: 32px;
    line-height: 43px;
    max-width: 351px;
  }
  .top__price {
    font-size: 20px;
    line-height: 43px;
    margin-bottom: 10px;
    max-width: 351px;
  }
  .top__text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .top__btn {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .top__title {
    font-size: 28px;
    line-height: 33px;
    max-width: 280px;
  }
  .logo__text {
    font-size: 11px;
    line-height: 16px;
  }
  .top__text {
    font-size: 20px;
    line-height: 26px;
  }
}
